input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
}

.separator {
  height: 4px;
  width: 90%;
  margin: 1rem;

  background-color: black;
}

.form-container {
  height: 100%;
  overflow-y: scroll;

  background-color: yellow;
}

.form-group-container {
  margin-bottom: 0.5rem;
}

.cv-entry-input {
  display: flex;
  flex-direction: row;
}
